APP_DOMAIN=http://localhost:3000
PORT=3000

MONGODB_USER=mongouser
MONGODB_PASSWORD=mongopassword
MONGODB_URL=clusternodejs.fgdfgsh.mongodb.net
MONGODB_DB=travelplaner

GOOGLE_AUTH_CLIENT_ID=1234567891011123-qnoo8q6v9nkvdjfu6apfs4gchd728toa.apps.googleusercontent.com
GOOGLE_AUTH_CLIENT_SECRET=GOCSPX-G9DyL0ycnNwRzcqoQHeltSECRET

GOOGLE_MAPS_API_KEY=AIzaSyBC1xf8b8hbKEYy3l0VZgOxKEY9VdVHKEY
